body
    max-width: 100%

p, a
    font-family: 'Heebo', sans-serif

.wrapper
    min-height: 100%
    overflow: hidden

.header__logo
    margin: 0 15px

._container
    width: 1560px
    margin: 0 auto

.header__title
    font-family: 'Merienda One', cursive
    font-size: 54px
    line-height: 130%
    max-width: 706px
    margin: 0 auto
    align-items: center
    text-align: center
    padding-bottom: 22px

.header__subtitle
    margin: 22px 0 30px 0
    max-width: 1105px
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5)
    font-size: 24px
    margin: 0 auto
    text-align: center
    padding-bottom: 70px

.header__container
    max-height: 130px
    display: flex
    justify-content: space-between
    align-items: center

.menu__list
    display: flex
    font-size: 28px
    line-height: 41px
    
.menu__item
    border-bottom: 10px solid white
    line-height: 110px
    &:not(:last-child)
        margin: 0 80px 0 0
    &:hover
        border-bottom: 10px solid #259385
        line-height: 110px
    
.menu__link
    color: black

.header__logo
    width: 148px
    height: 119px
    padding: 8px 0 0 0

.page
    background-color: #edfbf9

.page__main-block
    position: relative

.main-block-content
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 70px
    text-align: center
    
.header_white-title
    color: white
    
.main-block-btn
    padding: 19px 89px
    margin-top: -40px
    margin-bottom: 70px
    background-color: #259385
    border-radius: 30px
    color: white
    font-weight: 700
    font-size: 30px

.main-block-cover
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    object-fit: content

.main-block-img
    width: 591px
    height: auto

.page__card-block
    padding: 120px 0 77px 0 

.card-block-cards
    display: flex
    justify-content: space-between
    align-items: center
    text-align: center

.card-block-item
    background-image: url(../img/recctangle.png)
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 500px
    height: 590px

.card-block-img
    width: 100px
    height: 100px

.card-block-title
    margin: 20px 0
    font-size: 32px
    line-height: 47px
    font-weight: 500

.card-block-text
    width: 324px
    font-size: 18px
    line-height: 130%

.card-block-btn
    padding: 12px 44px
    border-radius: 30px
    background-color: #259385
    color: white
    margin-top: 60px
    font-size: 24px
    line-height: 130%

.practice-block__title
    margin: 77px 0 22px 0
    
.practice-block__subtitle
    max-width: 1105px
    font-size: 24px
    line-height: 130%

.practice__content
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 63px

.practice-img
    width: 745px
    height: 594px
    margin-right: 156px

.practice__block-items
    display: flex
    flex-direction: column
    justify-content: center

.practice__item
    &:hover
        background: top left no-repeat url(../img/rectangle2.png)
        background-size: 100% 120%

.practice__item-title
    font-weight: 500
    font-size: 32px
    line-height: 47px
    margin-bottom: 10px

.practice__item-title
    &:first-child
        margin-top: 50px

.practice__item-subtitle
    font-size: 24px
    line-height: 130%
    color: rgba(0, 0, 0, 0.5)
    max-width: 579px

.audio-block-container
    padding-top: 59px

.audio-content-img
    width: 697px
    height: 710px
    margin-left: 274px

.audio-block-content
    display: flex
    justify-content: space-between
    padding-bottom: 118px

.audio_column
    display: flex
    flex-direction: column

.audio_item
    width: 650px
    height: 150px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 30px 40px
    border: 2px solid #259385
    background: linear-gradient(90deg, #C3E2DE 27.22%, #CFF1ED 48.89%, #EDFBF9 96.77%)
    border-radius: 15px
    &:nth-child(2)
        margin-top: 115px
        margin-bottom: 50px

.audio-title
    font-size: 32px
    line-height: 47px
    margin-bottom: 10px

.audio-subtitle
    color: rgba(0, 0, 0, 0.5)
    font-size: 24px

.audio_item-icon
    width: 120px
    height: 120px
    margin-top: 20px

.meditation_background
    position: absolute
    width: 100%
    height: 1375px
    object-fit: content

.page_meditation-content
    position: relative
    width: 1682px
    margin: 0 auto
    padding: 162px 0 220px 0

.meditation_grid 
	display: grid 
	grid-template-columns: repeat(3, 1fr) 
	grid-template-rows: 1fr 
	grid-column-gap: 0px 
	grid-row-gap: 0px 
    
.meditation_grid-left-column
	grid-area: 1 / 1 / 2 / 2 
    
.meditation_grid-left-column .meditation_grid-item
    background: linear-gradient(90deg, #C3E2DE 27.22%, #CFF1ED 48.89%, #EDFBF9 96.77%)
    text-align: right
    border: 2px solid linear-gradient(90deg, #378377 100%, #B0EAE2 0%)

.meditation_grid-item
    width: 597px
    height: 200px
    padding: 25px 35px
    &:nth-child(2)
        margin: 100px 0
    border-radius: 15px
.meditation_grid-image
	grid-area: 1 / 2 / 2 / 3 

.meditation_grid-right-column
	grid-area: 1 / 3 / 2 / 4 

.meditation_grid-right-column .meditation_grid-item
    background: linear-gradient(-90deg, #C3E2DE 27.22%, #CFF1ED 48.89%, #EDFBF9 96.77%)

.meditation_grid-title
    font-weight: 500
    font-size: 32px
    line-height: 47px
    margin-bottom: 10px

.meditation_grid-subtitle
    font-size: 24px
    line-height: 130%
    color: rgba(0, 0, 0, 0.5)

.meditation_grid-img
    width: 339px
    height: 802px
    margin: 0 75px

.page__transform
    padding-top: 115px

.transform__grid
	display: grid 
	grid-template-columns: repeat(2, 1fr) 
	grid-template-rows: repeat(2, 1fr) 
	grid-column-gap: 0px 
	grid-row-gap: 0px 

.transform__item-top-left
	grid-area: 1 / 1 / 2 / 2 

.transform__item-top-right
	grid-area: 1 / 2 / 2 / 3 
    
.transform__item-bottom-left
	grid-area: 2 / 1 / 3 / 2 

.transform__item-bottom-right
	grid-area: 2 / 2 / 3 / 3 

.transform__container
    width: 1520px
    margin: 0 auto
    padding: 0 0 235px 0

.transform_img
    width: auto
    height: 530px

.transform__item-title
    font-weight: 500
    font-size: 32px
    line-height: 47px
    padding-bottom: 17px

.transform__item-subtitle
    width: 557px
    font-size: 24px
    line-height: 130%
    color: rgba(0, 0, 0, 0.5)
    padding-bottom: 40px
    &:nth-child(2)
        padding-bottom: 7px


.transform__item-btn
    padding: 12px 44px
    background-color: #259385
    color: white
    border-radius: 30px
    font-size: 24px
    
.transform__grid .transform__item-top-right
    padding: 121px 0 0 205px
    align-items: right

.transform__grid .transform__item-bottom-left
    padding: 165px 0 0 0
    align-items: right

.footer
    position: relative
    background-color: #edfbf9

.footer__content
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 0 30px 0

.footer__nav-list
    display: flex

.footer__social-icon
    width: 55px
    height: 55px
    margin: 0 15px

.footer__nav-list
    margin: 30px 0

.footer__nav-item
    font-size: 28px
    line-height: 41px
    padding-right: 20px
    &:not(:last-child)
        margin-right: 20px
        border-right: 4px solid black

.footer__nav-item
    a
        color: black
    
.footer__background
    position: absolute
    width: 100%
    height: 425px
    bottom: 0
    object-fit: content