body {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header__logo {
  margin: 0 15px;
}

._container {
  width: 1560px;
  margin: 0 auto;
}

.header__container {
  width: 1560px;
  max-height: 130px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  line-height: 41px;
}

.menu__item:not(:last-child) {
  margin: 0 80px 0 0;
}

.menu__link {
  color: black;
}

.header__logo {
  width: 148px;
  height: 119px;
  padding: 8px 0 0 0;
}

._title {
  font-size: 54px;
  line-height: 130%;
  max-width: 606px;
}

.page {
  background-color: #edfbf9;
}

.page__main-block {
  position: relative;
}

.main-block-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  text-align: center;
}

.main-block-title {
  color: white;
}

.main-block-subtitle {
  margin: 22px 0 30px 0;
  width: 50rem;
  line-height: 130%;
}

.main-block-btn {
  padding: 19px 89px;
  margin-bottom: 70px;
  background-color: #259385;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.main-block-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: content;
     object-fit: content;
}

.main-block-img {
  width: 591px;
  height: auto;
}

.page__card-block {
  padding: 120px 0 0 0;
}

.card-block-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card-block-item {
  background-image: url(../img/recctangle.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 590px;
}

.card-block-img {
  width: 100px;
  height: 100px;
}

.card-block-title {
  margin: 20px 0;
  font-size: 32px;
  line-height: 47px;
  font-weight: 500;
}

.card-block-text {
  width: 324px;
  font-size: 18px;
  line-height: 130%;
}

.card-block-btn {
  padding: 12px 44px;
  border-radius: 30px;
  background-color: #259385;
  color: white;
  margin-top: 60px;
  font-size: 24px;
  line-height: 130%;
}

.practice-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.practice-block__title {
  margin: 77px 0 22px 0;
}

.practice-block__subtitle {
  max-width: 1105px;
  font-size: 24px;
  line-height: 130%;
}

.practice__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.practice-img {
  width: 745px;
  height: 594px;
  margin-right: 156px;
}

.practice__block-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.practice__item-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  margin-bottom: 10px;
}

.practice__item-subtitle {
  font-size: 24px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
  max-width: 579px;
}
/*# sourceMappingURL=style.css.map */